*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas: 
    "hdr hdr hdr"
    "side1 cntr side2"
    "side1 cntr2 side2";
  background-image: url(/Users/alynguyen/GA_SEI/battle-ship/img/under.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Press Start 2P';
  cursor: pointer;
}

header {
  grid-area: hdr;
  font-size: 75px;
  color: white;
  text-align: center;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

section.container {
  display: grid;
  justify-content: center;
  grid-area: cntr;
  margin: 20px;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
}

section.container2 {
  display: grid;
  justify-content: center;
  grid-area: cntr2;
  margin: 20px;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  cursor: crosshair;
}

section.leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: side1;
  margin: auto;
}

section button{
  border-radius: 5px;
  font-size: 25px;
  margin: 10px;
  font-family: 'Press Start 2P';
  padding: 15px;
  border: 5px solid black;
  outline: none;
  cursor: pointer;
}

section button:active {
  border: 5px solid grey;
}

section.rightside {
  display: flex;
  grid-area: side2;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

div.board1, div.board2 {
  border: 1px solid black;
}

div.text-box {
  background-color: white;
  border: 5px solid black;
  border-radius: 2%;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  height: 400px;
  width: 300px;
  margin-bottom: 15px;
}

img.img-pir {
  height: 100%;
  object-fit: contain;
  padding-top: 5px;
  padding-left: 3px;
}

img.img-pir2 {
  height: 100%;
  object-fit: contain;
  padding: 3px;
}

img.img-boat {
  height: 100%;
  object-fit: contain;
  padding: 3px;
}

img.img-ship {
  height: 100%;
  object-fit: contain;
  padding: 3px;
}

img.img-fire {
  height: 100%;
  object-fit: contain;
  padding: 3px;
}

/* #btn-s1 {
  visibility: hidden;
} */

/* #btn-s2 {
  display: none;
}

#btn-s3 {
  display: none;
}

#btn-s4 {
  display: none;
} */
